@page "/Document/UploadFiles"
@inject IFileService FileService
@inject ISessionService SessionService
@inject ICommandService CommandService
@inject NavigationManager NavigationManager
@inject IStringLocalizer<UploadFiles> L
@using Hexalith.Application.Metadatas
@using Hexalith.Application.Sessions.Services
@using Hexalith.Documents.Commands
@using Document.Domain.ValueObjects
@using Hexalith.Infrastructure.ClientApp.Services
@using Labels = Hexalith.Documents.Server.Resources.Documents.Pages.UploadFiles

<FluentStack Orientation="Orientation.Vertical" Style="padding:20px;">
    <h3>@Labels.Title</h3>
    @if (data is not null)
    {
        <FluentStack Width="100%" Style="padding:15px" Orientation="Orientation.Vertical">
            <FluentGrid Style="width:100%">
                <FluentGridItem xs="12" sm="12" lg="3">
                    <FluentTextField Style="width:100%;" @bind-Value="data.Id" Label="@Labels.Id"></FluentTextField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="12" lg="3">
                    <FluentTextField Style="width:100%;" @bind-Value="data.Name" Label="@Labels.Name"></FluentTextField>
                </FluentGridItem>
                <FluentGridItem xs="12" sm="12" lg="12">
                    <FluentTextArea Style="width:100%;" @bind-Value="data.Description" Label="@Labels.Comments"></FluentTextArea>
                </FluentGridItem>
            </FluentGrid>
            <FluentSpacer />
            <HexFileUpload OnUploadCompletedEvent="OnUploadCompletedAsync" @@bind-Value="Tags" />
        </FluentStack>
    }
</FluentStack>

@code {
    ViewModels.UploadFiles data = new();

    Dictionary<string, string> Tags = new();

    private async Task OnUploadCompletedAsync(IEnumerable<FileInformation> files)
    {
        List<Task> tasks = new();
        foreach (var file in files)
        {
            var fileDescription = new FileDescription(file.Id, file.Name, file.OriginalName, file.ContentType);
            var command = CreateCommand(fileDescription);
            tasks.Add(CommandService.SubmitCommandAsync(
                command, 
                CancellationToken.None));
        }
        await Task.WhenAll(tasks);
    }
    private CreateDocument CreateCommand(FileDescription file)
    {
        return new CreateDocument(
            data.Id,
            data.Name,
            data.Description,
            file,
            "user1",
            DateTimeOffset.Now,
            null);
    }

}
